h4{
  line-height: 50px;
}
.modal-content{
  min-height: 460px;
}
.row{
  margin-bottom: 0px;
}
.side-img{
  width: 150px;
  background-image: url(../../assets/images/login.jpg);
  background-size: cover;
}
.modal-content{
  display: flex;
  padding: 0px;
}
.row.col.s12{
  width: calc(100% - 200px);
}
.header{
  margin-top: 15px;
}
a{
  margin-left: 20px;
}
a:hover{
  color: #26a69a!important;
  text-transform: none!important;
  text-decoration: underline;
}