<div class="homepage-img-wrapper">
  <div class="title-box"></div>
  <h1 class="title">Rea<span id="title-d">d</span>sy</h1>
  <div class="row search-bar">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Search</label>
        </div>
      </div>
    </div>
  </div>
</div>


<h1 (click)="getBooks()">Get bBoooks</h1>