<div class="homepage-img-wrapper">
  <div class="title-box"></div>
  <h1 class="title">Rea<span id="title-d">d</span>sy</h1>
  <div class="row search-bar">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Search</label>
        </div>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="grid">
    <div class="col s12 m7" *ngFor="let book of books">
      <h2 class="header truncate">{{book.title}}</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img routerLink="/book/{{book.isbn}}" src="{{book.googleData.thumbnail}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="description">{{book.googleData.description}}</p>
          </div>
          <div class="card-action">
            <a href="#" routerLink="/book/{{book.isbn}}">More details &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>