@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.homepage-img-wrapper{
  position: relative;
  width: calc(100vw - (100vw - 100%));
  height: calc(60vh + 76px);
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../../assets/images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: fit-content;
  position: absolute;
  top: calc(65% - 128px);
  left: calc(25% + 61px);
  transform: translate(-50%, -50%);
  font-size: 130px;
  margin: 0;
  letter-spacing: 3px;
}
.title-box{
  position: absolute;
  top: calc(65% - 127px);
  left: calc(25% + -54px);
  transform: translate(-50%, -50%);
  color: transparent;
  width: 352px;
  height: 144px;
  font-size: 130px;
  display: block;
  border: 8px white solid;
}
#title-d {
  color: #58CCED;
  padding-left: 1px;
  font-size: 136px;
}
.search-bar{
  width: 50%;
  position: absolute;
  top: 65%;
  background-color: white;
  height: 75px;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prefix{
  color: #888888;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: #58CCED;
}

.input-field .prefix.active {
  color: #58CCED;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #58CCED;
  box-shadow: 0 0 0 0 #58CCED;
}
.input-field>label:not(.label-icon).active {
  transform: translateY(-10px) scale(0.85);
}
.card{
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 20px;
  border-radius: 0px;
  background-color: transparent;
  border: 0px;
}
.card-body{
  text-align: center;
  padding: 0px;
}
.card-subtitle{
  color: rgba(0,0,0,.5);
  margin-top: 5px;
}
.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1px;
  padding: 0px 5px;
  white-space: nowrap;
  width: 120px;
}

.card-rating-text:hover{
  color:black;
  text-decoration: underline;
}
.card-title:hover{
  color: #58CCED !important;
  text-decoration: underline;
}
.card-title-detail{
  text-align: left;
}
.card-rating-detail{
  width: auto;
  margin-bottom: -5px;
}
.card-rating-entry{
  width: fit-content;
  margin: 0;
  margin-bottom: 14px;
}
.card-rating-text-detail{
  cursor: normal;
}
.card-rating-text-detail:hover{
  text-decoration: none;
  color: grey;
}
.icontainer {
  position: relative;
}
.imiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 57px;
  text-align: center;
}

.icontainer:hover .overlay {
  opacity: 1;
}

.icontainer:hover .imiddle {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  color:white;
  background-color: rgba(0,0,0,.7);
}

.cover-img{
  width: 120px;
  height: 187px;
  display: inline-block;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.grid{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  margin: 0 auto;
  justify-content: center;
}
main{
  margin-top: 25px;
}
@media screen and (max-width: 1000px) {
  .title{
    left:50%;
    top: calc(60% - 85px);
    font-size: 56px
  }
  #title-d {
    font-size: 56px;
  }
  .title-box{
    display: none;
  }
}