<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img src="../assets/images/favicon.png" alt="brand-logo"><p>Readsy</p></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light" href="#" routerLink="/">Home</a></li>
      <li><a class="waves-effect waves-light" href="#" routerLink="/browse">Browse</a></li>
      <li><a class="waves-effect waves-light" href="#" routerLink="/library">Library</a></li>
      <li><a class="waves-effect waves-light" href="#" routerLink="/upload">Upload</a></li>
      <li><a class="waves-effect waves-light" href="#" routerLink="/login">Log in</a></li>
      
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <a href="#" class="side brand-logo"><img src="../assets/images/favicon.png" alt="brand-logo"></a>
  <li><a class="waves-effect" href="#" routerLink="/">Home</a></li>
  <li><a class="waves-effect" href="#" routerLink="/browse">Browse</a></li>
  <li><a class="waves-effect" href="#" routerLink="/library">Library</a></li>
  <li><a class="waves-effect" href="#" routerLink="/upload">Upload</a></li>
  <li><a class="waves-effect" href="#" routerLink="/login">Log in</a></li>
</ul>

<router-outlet></router-outlet>