@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
a.brand-logo{
  margin-left: 25px;
}
a.brand-logo img {
  display: inline-block;
  margin-top: 4px;
  height: 52px;
}
a.brand-logo p {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 0;
  vertical-align: 15px;
  color: white;
}
nav {
  background-color: transparent;
  height: 66px;
  box-shadow: 0 0 0 0 #58CCED;
  position: absolute;
  z-index: 12;
  top: 0;
}
.scrolled-nav {
  background-color: white;
  color: black;
  height: 66px;
  box-shadow: 0px 1px 8px -5px black;
  position: fixed;
}

.scrolled-nav .material-icons {
  color: #444;
}

.scrolled-nav a.brand-logo p, nav.scrolled-nav ul li a{
  color: #444;
}

a.side.brand-logo {
  display: block;
  margin: 5px auto;
  width: fit-content;
}
.sidenav a p {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@media screen and (max-width: 1000px) {
  a.brand-logo{
    margin-left: 0px;
  }
}