@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
a.brand-logo{
  margin-left: 25px;
}
a.brand-logo img {
  display: inline-block;
  margin-top: 4px;
  height: 52px;
}
a.brand-logo p {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 0;
  vertical-align: 15px;
  color: white;
}
nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 0 0 #58CCED;
}
a.side.brand-logo {
  display: block;
  margin: 5px auto;
  width: fit-content;
}
.sidenav a p {
  font-family: 'Montserrat', sans-serif;
  color: black;
}
@media screen and (max-width: 1000px) {
  a.brand-logo{
    margin-left: 0px;
  }
}